<div class="container">
    <div class="row">
        <div class="col-8">
            <h1>Carrello</h1>
            <ng-container *ngFor="let prod of products">
                <app-cart-product [product]="prod" (updateEvent)="update()"></app-cart-product>
            </ng-container>
            <ng-container *ngIf="products.length == 0">
                <div class="container-fluid h-100 d-flex align-items-center justify-content-center flex-column fs-1">
                    <i class="bi bi-cart-x"></i>
                    Il carrello è vuoto
                </div>
            </ng-container>
        </div>
        <div class="col-4 side h-100 position-fixed top-0 end-0 bg-light">
            <div class="container text-center">
                <div class="alert alert-warning text-center fw-semibold">
                    Checkout
                </div>
                <table class="table table-light text-start w-75 m-auto mb-3">
                    <tbody>
                        <tr>
                            <td>Subtotale</td>
                            <td>{{subTotal | currency: "EUR" }}</td>
                        </tr>
                        <tr>
                            <td>Spedizione</td>
                            <td>
                                <ng-container *ngIf="products.length == 0">
                                    0,00 €
                                </ng-container>
                                <ng-container *ngIf="products.length != 0">
                                    5,99 €
                                </ng-container>
                            </td>
                        </tr>
                        <tr>
                            <td>Totale</td>
                            <td>{{totalCost | currency: "EUR"}}</td>
                        </tr>
                    </tbody>
                </table>
                <button type="button" class="btn btn-success w-75" data-bs-toggle="modal" data-bs-target="#succesModal"
                    (click)="clear()" [disabled]="disabled">
                    Conferma
                </button>
            </div>
        </div>
    </div>

    <div class="modal fade" id="succesModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header justify-content-center">
                    <h1 class="modal-title fs-5">Ordine confermato</h1>
                </div>
                <div class="modal-body text-center">
                    <i class="bi bi-cart-check"></i>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-primary w-75" data-bs-dismiss="modal">Chiudi</button>
                </div>
            </div>
        </div>
    </div>
</div>
