<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1>Cart</h1>
            articoli
        </div>
        <div class="col-4 vh-50">
            <div class="p-3 bg-light rounded-3 text-center">
                <div class="alert alert-primary text-center fw-semibold">
                    Checkout
                </div>
                <table class="table w-75 m-auto">
                    <tr>
                        <td>Subtotale</td>
                        <td>0,00 €</td>
                    </tr>
                    <tr>
                        <td>Spedizione</td>
                        <td>0,00 €</td>
                    </tr>
                    <tr>
                        <td>Totale</td>
                        <td>0,00 €</td>
                    </tr>
                </table>
                <button class="btn btn-success w-75">
                    Conferma
                </button>
            </div>
        </div>
    </div>
</div>