<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1>Cart</h1>
            <app-cart-product></app-cart-product>
        </div>
        <div class="col-4 vh-50">
            <div class="p-3 bg-light rounded-3 text-center">
                <div class="alert alert-primary text-center fw-semibold">
                    Checkout
                </div>
                <table class="table table-light w-75 m-auto mb-3">
                    <tbody>
                        <tr>
                            <td>Subtotale</td>
                            <td>0,00 €</td>
                        </tr>
                        <tr>
                            <td>Spedizione</td>
                            <td>0,00 €</td>
                        </tr>
                        <tr>
                            <td>Totale</td>
                            <td>0,00 €</td>
                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-success w-75">
                    Conferma
                </button>
            </div>
        </div>
    </div>
</div>