<footer class="footer position-absolute bottom-0 w-100 bg-light border-top border-top-light" data-bs-theme="light">
  <div class="container text-center mx-auto">
    <div class="row">
      <label class="fw-bold m-2">eCommerce</label>
      <p>Progettazzione di un eCommerce<br>ITT Blaise Pascal</p>
    </div>

    <div class="row">
      <div class="col">
        <a [routerLink]="'/about'" class="fw-bold text-decoration-none m-2">Chi siamo</a>
        <a [routerLink]="'/privacy'" class="fw-bold text-decoration-none m-2">Privacy policy</a>
        <a [routerLink]="'/tos'" class="fw-bold text-decoration-none m-2">Terms of use</a>
      </div>
    </div>

    <div class="row">
      <div class="col-12 fs-6">
        &copy; 2023 - 2023 eCommerce - All Rights Reserved.
      </div>
    </div>
  </div>
</footer>