<div class="container">
    <div class="d-flex justify-content-between m-3">
        <h1>{{title}}</h1>
        <div class="rounded m-2 d-flex  ">
            <input type="search" class="form-control searchBar" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
            <select class="select">
                <option hidden>Categoria</option>
                <ng-container *ngFor="let p of cat">
                    <option>{{p}}</option>
                </ng-container>
            </select>
        </div>
        <a [routerLink]="'/cart'">Carrello</a>
    </div>
</div>