<!--TODO: fix colore fuori dai bordi e card che escono dallo slide-->

<div class="container">
  <ng-container *ngIf="category && products && products.length > 0; else noProducts">
    <div class="d-flex flex-column">
      <div class="align-self-end">
        <a [routerLink]="['/categories', this.category]" class="text-decoration-none"><strong>Mostra tutti</strong></a>
      </div>
      <div class="d-flex justify-content-between">
        <ng-container *ngFor="let p of products">
          <app-product [product]="p" class="me-4" style="background-color: #fbfbfd;"></app-product>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-template #noProducts>
    <h2>{{this.category}}</h2>
    <span>Nessun prodotto trovato in questa categoria</span>
  </ng-template>
</div>

