<div class="container">
  <ng-container *ngIf="category && products && products.length > 0; else noProducts">
    <div class="d-flex flex-column">
      <div class="align-self-end">
        <a [routerLink]="['/shop/categories', this.category]" class="text-decoration-none"><strong>Mostra tutti <i class="bi bi-arrow-right"></i></strong></a>
      </div>
      <div class="row justify-content-between">
        <ng-container *ngFor="let p of products">
          <app-product [product]="p" [class]="'col-' + getProductCol()"></app-product>
        </ng-container>
      </div>
    </div>
  </ng-container>
  <ng-template #noProducts>
    <h2>{{this.category}}</h2>
    <span>Nessun prodotto trovato in questa categoria</span>
  </ng-template>
</div>

